{
 :deps {
        org.clojure/spec.alpha {:mvn/version "0.2.194"}
        aleph/aleph {:mvn/version "0.4.7-alpha7"}
        }

 :aliases 
 { 
  :web-server { 
               :extra-deps {aleph/aleph {:mvn/version "0.4.7-alpha7"}}
               :exec-fn web.network-service/run
               }
  }
}

